<h1>diaries#index</h1>
<p>Find me in app/views/diaries/index.html.erb</p>

<% @diaries.each do |diary| %>
  <div>
    <div>
      <%= diary.date %>
    </div> 
    <% diary.articles.each do |article| %>
      <div>
        <%= article.item.item_name %>
      </div>
      <div>
        <%= article.article %>
      </div>
    <% end %>
  </div>
<% end %>
