// Place all the styles related to the diaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles{
  width: 600px;
  float: left;
}

#diary_title{
  height: 40px;
  font-size: 20px;
  text-align: center;
}

.articles div:nth-child(even){
  background-color: #ddd;
}

.articles div:nth-child(odd){
  background-color: #aaa;
}

.comment_area{
  width: 330px;
  float: left;
  margin-left: 30px;
}

.content{
  clear: both;
}

.comment_area div:nth-child(even){
  background-color: #ddd;
}

.comment_area div:nth-child(odd){
  background-color: #aaa;
}
